# Cloudflare Tunnel Token (Get this from Cloudflare Dashboard)
TUNNEL_TOKEN=your_token_here

# PocketBase URL for the app (The public URL provided by Cloudflare)
EXPO_PUBLIC_PB_URL=https://noting.yourdomain.com
